extends ../../layout.jade
block contenido
	br
	.col-md-8.container-fluid
		.row.long-line.shadowed
			.col-md-12
				h3
					b
						i= imagen.name+" "+imagen.lastname
				h4
					i= imagen.id_student
				p= imagen.action
			.col-md-12
				a.right-space(href="" data-toggle="modal" data-target="#editar#{imagen._id}") Editar
				.modal(aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="editar#{imagen._id}")
					.modal-dialog(role="document")
						.modal-content
							.modal-header
								button.close(type="button" data-dismiss="modal" aria-label="Close")
									span(aria-hidden="true") ×
							.modal-body
								.card.bg-light.text-secondary.border-secondary.border
									.card-body
										h1.mb-4 Editar Estudiante
										form(action="/app/imagenes/#{imagen._id}?_method=PUT" method="POST" enctype="multipart/form-data")
											input(type="hidden" value="PUT" name="_method")
											.form-group
												label(for="name") Nombre
												input.form-control(type="text" name="name" placeholder="Nombre" id="name"  onKeyUp="this.value=this.value.toUpperCase();" value="#{imagen.name}")
											.form-group
												label(for="lastname") Apellido
												input.form-control(type="text" name="lastname" placeholder="Apellido" id="lastname" onKeyUp="this.value=this.value.toUpperCase();" value="#{imagen.lastname}")
											.form-group
												label(for="id_student") Id
												input.form-control(type="number" name="id_student" placeholder="Id" id="id_student"  value="#{imagen.id_student}" onkeypress="return valida(event)")
											button.btn.btn-secondary(type="submit") Guardar
							.modal-footer
								button.btn.btn-secondary(type="button" data-dismiss="modal") Close
				a.right-space.text-danger(href="" data-toggle="modal" data-target="#eliminar#{imagen._id}") Eliminar
				.modal(aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="eliminar#{imagen._id}")
					.modal-dialog(role="document")
						.modal-content
							.modal-body
								.card.text-white.bg-danger
									.card-body
										h2.mb-4 Eliminar Estudiante
										p Si elimina este elemento también se borrarán todos los años que contenga
							.modal-footer
								form(action="/app/imagenes/#{imagen._id}?_method=DELETE" method="POST")
									input.btn.btn-danger(type="submit" value="Eliminar")
								button.btn.btn-secondary(type="button" data-dismiss="modal") Cancelar
		//-Crear Año en el estudiante
		br
		a.btn-primary.btn.mb-2(href="" data-toggle="modal" data-target="#new_year") Crear Año
		.modal( aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="new_year")
			.modal-dialog(role="document")
				.modal-content
					.modal-header
						button.close(type="button" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true") ×
					.modal-body
						.card.text-white.bg-primary
							.card-body
								h1 Crear Año
								form(action="/app/imagenes/#{imagen._id}" method="POST" enctype="multipart/form-data")
									.form-group
										label(for="year") Año
										select.form-control(type="text" name="year" placeholder="Año" id="year")
									.form-group
										label(for="course") Curso
										select.form-control(type="text" name="course" placeholder="Curso" id="course")
											option ...
											option(value="PREKINDER") PREKINDER
											option(value="KINDER") KINDER
											option(value="TRANSICIÓN") TRANSICIÓN
											option(value="PRIMERO") PRIMERO
											option(value="SEGUNDO") SEGUNDO
											option(value="TERCERO") TERCERO
											option(value="CUARTO") CUARTO
											option(value="QUINTO") QUINTO
											option(value="SEXTO") SEXTO
											option(value="SÉPTIMO") SÉPTIMO
											option(value="OCTAVO") OCTAVO
											option(value="NOVENO") NOVENO
											option(value="DÉCIMO") DÉCIMO
											option(value="UNDÉCIMO") UNDÉCIMO
									.form-group
										label(for="condition") Estado
										select.form-control(type="text" name="condition" placeholder="Estado" id="condition" )
											option ...
											option(value="SI FUE PROMOVIDO(A)") SI FUE PROMOVIDO(A)
											option(value="NO FUE PROMOVIDO(A)") NO FUE PROMOVIDO(A)
									button.btn.btn-secondary(type="submit") Guardar
					.modal-footer
						button.btn.btn-secondary(type="button" data-dismiss="modal") Close
		ul.nav.nav-tabs
			li.nav-item
				a.active.nav-link(href="" data-toggle="tab" data-target="#tabone") Años
			each year in imagen.years.sort(function (a, b) {if (a.year > b.year) {return 1;}if (a.year < b.year) {return -1;}return 0;})
				li.nav-item
					a.nav-link(href=""  data-toggle="tab" data-target="#tab#{year._id}")= year.year
		.tab-content.bg-light.mt-2
			.tab-pane.fade.show.active(id="tabone" role="tabpanel")
				h4
					b Haz clic sobre el año que quieres ver
			each year in imagen.years.sort(function (a, b) {if (a.year > b.year) {return 1;}if (a.year < b.year) {return -1;}return 0;})
				.tab-pane.fade(id="tab#{year._id}" role="tabpanel")
					.col-md-12.separe
						form(action="/app/imagenes/#{imagen._id}/#{year._id}/pdf" method="POST" enctype="multipart/form-data")
							.form-group
								input(id="years" type="text" value="#{year._id}" name="years" style="display:none")
							button.btn.btn-secondary(type="submit") Generar certificado
						.table-responsive
							table.table
								tbody
									tr
										th= year.year
										th= year.course
										th
											//-Modal para Editar el Año
											a.right-space(href="" data-toggle="modal" data-target="#year#{year._id}" ) Editar
											.modal(aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="year#{year._id}")
												.modal-dialog(role="document")
													.modal-content
														.modal-header
															button.close(type="button" data-dismiss="modal" aria-label="Close")
																span(aria-hidden="true") ×
														.modal-body
															.card.bg-light.text-secondary.border-secondary.border
																.card-body
																	h1 Editar Año
																	form(action="/app/imagenes/#{imagen._id}/#{year._id}?_method=PUT" method="POST" enctype="multipart/form-data" id="")
																		input(type="hidden" value="PUT" name="_method")
																		.form-group
																			input(id="years" type="text" value="#{year._id}" name="years" style="display:none")
																		.form-group
																			label(for="year") Año
																			input.form-control(type="text" name="year" value="#{year.year}" placeholder="Año" id="year")
																		.form-group
																			label(for="course") Curso
																			select.form-control(type="text" name="course" placeholder="Curso" id="course")
																				option(value="#{year.course}") ... #{year.course} ...
																				option(value="PREKINDER") PREKINDER
																				option(value="KINDER") KINDER
																				option(value="TRANSICIÓN") TRANSICIÓN
																				option(value="PRIMERO") PRIMERO
																				option(value="SEGUNDO") SEGUNDO
																				option(value="TERCERO") TERCERO
																				option(value="CUARTO") CUARTO
																				option(value="QUINTO") QUINTO
																				option(value="SEXTO") SEXTO
																				option(value="SÉPTIMO") SÉPTIMO
																				option(value="OCTAVO") OCTAVO
																				option(value="NOVENO") NOVENO
																				option(value="DÉCIMO") DÉCIMO
																				option(value="UNDÉCIMO") UNDÉCIMO
																		.form-group
																			label(for="condition") Estado
																			select.form-control(type="text" name="condition" placeholder="Estado" id="condition")
																				option(value="#{year.condition}") ... #{year.condition} ...
																				option(value="SI FUE PROMOVIDO(A)") SI FUE PROMOVIDO(A)
																				option(value="NO FUE PROMOVIDO(A)") NO FUE PROMOVIDO(A)
																		button.btn.btn-secondary(type="submit") Guardar
														.modal-footer
															button.btn.btn-secondary(type="button" data-dismiss="modal") Cerrar
											a.right-space.text-danger(href="" data-toggle="modal" data-target="#eliminar#{year._id}" ) Eliminar
											.modal(aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="eliminar#{year._id}")
												.modal-dialog(role="document")
													.modal-content
														.modal-body
															.card.text-white.bg-danger
																.card-body
																	h2 Eliminar Año
																	p Si elimina este elemento también se borrarán todas las areas que contenga
														.modal-footer
															form(action="/app/imagenes/#{imagen._id}/#{year._id}?_method=DELETE" method="POST")
																input(id="years" type="text" value="#{year._id}" name="years" style="display:none")
																button.btn.btn-danger(type="submit" ) Eliminar
															button.btn.btn-secondary(type="button" data-dismiss="modal") Cancelar
							//-Crear Areas en los años
							a.btn-primary.btn.mb-2(data-toggle="modal" data-target="#new_area#{year._id}" href="" ) Crear Area
							.modal(aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="new_area#{year._id}")
								.modal-dialog(role="document")
									.modal-content
										.modal-header
											button.close(type="button"  data-dismiss="modal" aria-label="Close")
												span(aria-hidden="true") ×
										.modal-body
											.card.text-white.bg-primary
												.card-body
													h1 Crear Area
													form(action="/app/imagenes/#{imagen._id}/#{year._id}" method="POST" enctype="multipart/form-data")
														input(id="years" type="text" value="#{year._id}" name="years" style="display:none")
														.form-group
															label(for="area") Area
															input.form-control(type="text" name="area" placeholder="Area" id="area" onKeyUp="this.value=this.value.toUpperCase();")
														.form-group
															label(for="qa") Calificación por areas
															input.form-control(type="text" name="qa" placeholder="Calificación por areas" id="qa" onKeyUp="this.value=this.value.toUpperCase();")
														.form-group
															label(for="iha") I.H por areas
															input.form-control(type="text" name="iha" placeholder="I.H por areas" id="iha" onKeyUp="this.value=this.value.toUpperCase();")
														button.btn.btn-secondary(type="submit") Guardar
										.modal-footer
											button.btn.btn-secondary(type="button"  data-dismiss="modal") Close
						each area in year.areas.sort(function (a, b) {if (a.area > b.area) {return 1;}if (a.area < b.area) {return -1;}return 0;})
							.up-line.shadowed
								.table-responsive
									table.table
										tbody
											tr
												td.table-success= area.area
												td.table-success= area.qa
												td.table-success= area.iha
												td.table-success
													a.right-space(href="" data-toggle="modal" data-target="#area#{area._id}") Editar
													.modal(aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="area#{area._id}")
														.modal-dialog( role="document")
															.modal-content
																.modal-header
																	button.close(type="button"  data-dismiss="modal" aria-label="Close")
																		span(aria-hidden="true") ×
																.modal-body
																	.card.bg-light.text-secondary.border-secondary.border
																		.card-body
																			h1 Editar Area
																			form(action="/app/imagenes/#{imagen._id}/#{year._id}/#{area._id}?_method=PUT" method="POST" enctype="multipart/form-data" id="")
																				input(type="hidden" value="PUT" name="_method")
																				.form-group
																					input(id="years" type="text" value="#{year._id}" name="years" style="display:none")
																				.form-group
																					input(id="areas" type="text" value="#{area._id}" name="areas" style="display:none")
																				.form-group
																					label(for="area") Area
																					input.form-control(type="text" name="area" placeholder="Area" id="area" value="#{area.area}" onKeyUp="this.value=this.value.toUpperCase();")
																				.form-group
																					label(for="qa") Calificación por area
																					input.form-control(type="text" name="qa" placeholder="Calificación por area" id="qa" value="#{area.qa}" onKeyUp="this.value=this.value.toUpperCase();")
																				.form-group
																					label(for="iha") I.H por area
																					input.form-control(type="text" name="iha" placeholder="I.H por area" id="iha"  value="#{area.iha}" onKeyUp="this.value=this.value.toUpperCase();")
																				button.btn.btn-secondary(type="submit") Guardar
																.modal-footer
																	button.btn.btn-secondary(type="button"  data-dismiss="modal") Close
													a.right-space.text-danger(href="" data-toggle="modal" data-target="#eliminar#{area._id}") Eliminar
													.modal(aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="eliminar#{area._id}")
														.modal-dialog(role="document")
															.modal-content
																.modal-body
																	.card.text-white.bg-danger
																		.card-body
																			h2 Eliminar Area
																			p Si elimina este elemento también se borrarán todas las asignaturas que contenga
																.modal-footer
																	form(action="/app/imagenes/#{imagen._id}/#{year._id}/#{area._id}?_method=DELETE" method="POST")
																		input(id="years" type="text" value="#{year._id}" name="years" style="display:none")
																		input(id="areas" type="text" value="#{area._id}" name="areas" style="display:none")
																		button.btn.btn-danger(type="submit") Eliminar
																	button.btn.btn-secondary(type="button"  data-dismiss="modal") Cancelar
								a.btn-primary.btn.mb-2(data-toggle="modal" data-target="#new_subject#{area._id}" href="") Crear Asignatura
								.modal( aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="new_subject#{area._id}")
									.modal-dialog(role="document")
										.modal-content
											.modal-header
												button.close(type="button"  data-dismiss="modal" aria-label="Close")
													span(aria-hidden="true") ×
											.modal-body
												.card.text-white.bg-primary
													.card-body
														h1 Crear Asignatura
														form.remove-float.center-block(action="/app/imagenes/#{imagen._id}/#{year._id}/#{area._id}" method="POST" enctype="multipart/form-data" id="")
															input(id="years" type="text" value="#{year._id}" name="years" style="display:none")
															input(id="area" type="text" value="#{area._id}" name="area" style="display:none")
															.form-group
																label(for="subject") Asignatura
																input.form-control(type="text" name="subject" placeholder="Asignatura" id="subject" onKeyUp="this.value=this.value.toUpperCase();")
															.form-group
																label(for="qualification") Calificación
																input.form-control(type="text" name="qualification" placeholder="Calificación" id="qualification" onKeyUp="this.value=this.value.toUpperCase();")
															.form-group
																label(for="ih") Intensidad horaria
																input.form-control(type="text" name="ih" placeholder="Intensidad horaria" id="ih" onkeypress="return valida(event)")
															button.btn.btn-secondary(type="submit" ) Guardar
											.modal-footer
												button.btn.btn-secondary(type="button" data-dismiss="modal") Close
								.col-md-12.table-responsive
									table.table.table-striped
										thead
											tr
												th(scope="col") Asignatura
												th(scope="col") Calificación
												th(scope="col") I.H.
												th(scope="col") Más
										tbody
											each subject in area.subjects.sort(function (a, b) {if (a.subject > b.subject) {return 1;}if (a.subject < b.subject) {return -1;}return 0;})
												tr
													td= subject.subject
													td= subject.qualification
													td= subject.ih
													td 
														a.text-secondary(href="" data-toggle="modal" data-target="#subject#{subject._id}" ) 
															span.fa.d-inline.fa-edit
														.modal(aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="subject#{subject._id}")
															.modal-dialog(role="document")
																.modal-content
																	.modal-header
																		button.close(type="button"  data-dismiss="modal" aria-label="Close")
																			span(aria-hidden="true") ×
																	.modal-body
																		.card.bg-light.text-secondary.border-secondary.border
																			.card-body
																				h1 Editar Asignatura
																				form(action="/app/imagenes/#{imagen._id}/#{year._id}/#{area._id}/#{subject._id}?_method=PUT" method="POST" enctype="multipart/form-data" id="")
																					input(type="hidden" value="PUT" name="_method")
																					.form-group
																						input(id="years" type="text" value="#{year._id}" name="years" style="display:none")
																					.form-group
																						input(id="areas" type="text" value="#{area._id}" name="areas" style="display:none")
																					.form-group
																						input(id="subjects" type="text" value="#{subject._id}" name="subjects" style="display:none")
																					.form-group
																						label(for="subject") Asignatura
																						input.form-control(type="text" name="subject" placeholder="Asignatura" id="subject" value="#{subject.subject}"  onKeyUp="this.value=this.value.toUpperCase();")
																					.form-group
																						label(for="qualification") Calificación
																						input.form-control(type="text" name="qualification" placeholder="Calificación" value="#{subject.qualification}" id="qualification"  onKeyUp="this.value=this.value.toUpperCase();")
																					.form-group
																						label(for="ih") Intensidad horaria
																						input.form-control(type="text" name="ih" placeholder="Intensidad horaria" value="#{subject.ih}" id="ih" onkeypress="return valida(event)")
																					button.btn.btn-secondary(type="submit") Guardar
																	.modal-footer
																		button.btn.btn-secondary(type="button"  data-dismiss="modal") Close
														a.text-danger(data-toggle="modal" data-target="#eliminar#{subject._id}" )
															span.fa.d-inline.fa-trash
														.modal(aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="eliminar#{subject._id}")
															.modal-dialog(role="document")
																.modal-content
																	.modal-body
																		.card.text-white.bg-danger
																			.card-body
																				h2 Eliminar Asignatura
																				p Usted está a punto de eliminar una asignatura
																	.modal-footer
																		form(action="/app/imagenes/#{imagen._id}/#{year._id}/#{area._id}/#{subject._id}?_method=DELETE" method="POST")
																			input(id="years" type="text" value="#{year._id}" name="years" style="display:none")
																			input(id="areas" type="text" value="#{area._id}" name="areas" style="display:none")
																			input(id="subjects" type="text" value="#{subject._id}" name="subjects" style="display:none")
																			button.btn.btn-danger(type="submit") Eliminar
																		button.btn.btn-secondary(type="button" data-dismiss="modal") Cancelar
														a.text-primary( data-toggle="modal" data-target="#new_subject#{area._id}")
															span.fa.d-inline.fa-plus
	br
	br
	.row.fixed-bottom.bg-primary.long-line.shadowed
		p.col-md-6.col-xs-6.col-sm-6.col-lg-6
			u 
				b Nombre
			i= ": "+imagen.name+" "+imagen.lastname 
		p.col-md-6.col-xs-6.col-sm-6.col-lg-6
			u
				b  Id Estudiante
			i= ": "+imagen.id_student
	script(src="/public/js/numbers.js")
	script(src="/public/js/allyears.js")